  .generator {
    background: #23235b;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
  }
  
  .generator__header {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
  .generator__password {
    position: relative;
    padding: 12px;
    margin-bottom: 15px;
  }
  
  .copy__btn {
    position: absolute;
    background: #3b3b98;
    color: #fff;
    border: none;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    top: 3px;
    right: 3px;
  }
  
  .generator__btn {
    background: #000;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 18px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 15px;
  }